<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename= 'nasa2.css')}}"
/>

<div class="logo"><img src="/static/logo.png" width="200" height="200" /></div>
<div class="wrapper">
  <div class="title-text">
    <div class="title login">ZeaStellar</div>
    <div class="title signup">Signup Form</div>
  </div>

  <div class="form-container">
    <div class="form-inner">
      <form action="#" class="login">
        <div class="field">
          <div class="field btn">
            <div class="btn-layer"></div>

            <button onclick="window.location.href = '/login'"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
